quiz = [
    {
        "question": "What does AI stand for?",
        "options": [
            "Artificial Intelligence",
            "Automatic Internet",
            "Advanced Information",
            "Artificial Internet"
        ],
        "answer": "Artificial Intelligence"
    },
    {
        "question": "Python is a...",
        "options": [
            "Programming Language",
            "Database",
            "Browser",
            "Operating System"
        ],
        "answer": "Programming Language"
    }
]
